@import "./Object_Item_Text.css";
/* @import "./Brand-Text.css";
@import "./Brand-Colors.css";
@import "./Brand-Scale-and-Spacing.css"; */

.modal-shadow {
    position: fixed;
    height: 50%;
    width: 50%;
    /*    top: -10%;
    left: -200%; */


    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0%;
    z-index: 99;
    overflow: visible;
    background-color: #000000;
    /* Your background color */
    box-shadow: 10px 0px 15px 45px rgba(0, 0, 0, 1);
    /* Adjust color and blur */
}