.slick-prev {
    left: -15% !important;
    z-index: 1;
    color: black !important;

}

.slick-prev::before {
    left: -15% !important;
    z-index: 1;
    color: black !important;

}

.slick-next {
    right: -15% !important;
    z-index: 1;
    color: black !important;

}

.slick-next:before {
    right: -15% !important;
    z-index: 1;
    color: black !important;

}